Repository headlamp-k8s/plugins, pull requests merged in 2024-11, with the labels that each got.

#87 prometheus: Add settings to prometheus plugin
  prometheus/package-lock.json
  prometheus/package.json
  prometheus/src/VisibilityButton.tsx
  prometheus/src/common.tsx
  prometheus/src/components/Chart/CPUChart/CPUChart.tsx
  prometheus/src/components/Chart/Chart/Chart.tsx
  prometheus/src/components/Chart/Chart/chart.stories.tsx
  prometheus/src/components/Chart/DiskChart/DiskChart.tsx
  prometheus/src/components/Chart/DiskMetricsChart/DiskMetricsChart.tsx
  prometheus/src/components/Chart/FilesystemChart/FilesystemChart.tsx
  prometheus/src/components/Chart/GenericMetricsChart/GenericMetricsChart.tsx
  prometheus/src/components/Chart/MemoryChart/MemoryChart.tsx
  prometheus/src/components/Chart/NetworkChart/NetworkChart.tsx
  prometheus/src/components/Chart/common.tsx
  prometheus/src/components/Settings/Settings.tsx
  prometheus/src/components/VisibilityButton/VisibilityButton.stories.tsx
  prometheus/src/components/VisibilityButton/VisibilityButton.tsx
  prometheus/src/index.tsx
  prometheus/src/setupTests.js
  prometheus/src/util.test.ts
  prometheus/src/util.ts
Labels: prometheus

#96 app-catalog: Add default values to options
  app-catalog/src/components/charts/EditorDialog.tsx
Labels: app-catalog

#98 app-catalog: Allow dialog to display chart version
  app-catalog/src/components/charts/EditorDialog.tsx
Labels: app-catalog

#114 readme: Update obs title
  README.md
Labels: documentation
