Repository headlamp-k8s/plugins, pull requests merged in 2025-05, with the labels that each got.

#239 Bump vite to 6.3.5
  backstage/package-lock.json
  cert-manager/package-lock.json
  flux/package-lock.json
  kompose/package-lock.json
  minikube/package-lock.json
  opencost/package-lock.json
  plugin-catalog/package-lock.json
  prometheus/package-lock.json
Labels: dependencies

#238 app-catalog: Bump dependency versions
  app-catalog/package-lock.json
Labels: app-catalog, dependencies

#223 flux: Fix overview page fetching resource classes
  flux/src/helpers/index.tsx
  flux/src/overview/index.tsx
Labels: bug, flux

#117 plugin-catalog: Rework installed list to include all plugins
  plugin-catalog/src/components/plugins/InstalledList.stories.tsx
  plugin-catalog/src/components/plugins/InstalledList.tsx
Labels: enhancement, plugin-catalog
