Repository headlamp-k8s/plugins, pull requests merged in 2025-07, with the labels that each got.

#315 Dockerfile: Use npm ci instead of npm install
  Dockerfile
Labels: security

#271 flux: add flux 2.0.0 CRD versions
  flux/src/helm-releases/HelmReleaseList.tsx
  flux/src/image-automation/ImageAutomationList.tsx
  flux/src/notifications/NotificationList.tsx
  flux/src/sources/SourceList.tsx
Labels: flux

#324 flux: Fix pluralName helper and update how we show overview
  flux/src/helpers/pluralName.tsx
  flux/src/index.tsx
  flux/src/overview/index.tsx
Labels: flux

#335 karpenter: Add configs for Release
  karpenter/README.md
  karpenter/artifacthub-pkg.yml
  karpenter/package-lock.json
  karpenter/package.json
Labels: karpenter

#350 tools/releaser: Bump @octokit/rest to 22.0.0
  tools/releaser/package-lock.json
  tools/releaser/package.json
  tools/releaser/src/commands/artifacthub.ts
  tools/releaser/src/commands/build-package.ts
  tools/releaser/src/commands/bump.ts
  tools/releaser/src/commands/list.ts
  tools/releaser/src/commands/package.ts
  tools/releaser/src/commands/release.ts
  tools/releaser/src/commands/tag.ts
  tools/releaser/src/index.ts
  tools/releaser/src/utils/artifacthub.ts
  tools/releaser/src/utils/github.ts
  tools/releaser/src/utils/plugin.ts
  tools/releaser/tsconfig.json
Labels: dependencies, security
